---
layout: default
title: GaemiGaemi Science
floating_ad: true
---

    <section class="section middle"> <!--second box-->    
      <h1>원소 주기율표 (TEST)</h1>
      <div class="table">
        {% for element in site.elements %}
        <a href="{{site.url}}{{ element.url }}" class="element {{ element.group }}"
           style="grid-column: {{ element.col }}; grid-row: {{ element.row }};">
        {% if element.symbol %}
        <span class="number">{{ element.number }}</span>
        <span class="symbol">{{ element.symbol }}</span>
        <span class="detail">{{ element.weight }}</span>
        {% endif %}
        </a>
        {% endfor %}
      </div> <!--원소기호 끝-->
    </section> 
  
    <!-- 메뉴 버튼 -->
    <button class="menu-btn" id="menuOpenBtn">☰ 메뉴</button>

    <!-- 메뉴 오버레이 -->
    <div class="menu-overlay" id="menu">
      <div class="menu-content">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      <button id="menuCloseBtn">X</button>
      </div>
    </div>
    {% if page.floating_ad %}
    {% include floating-ad.html %}
    {% endif %}