    <!-- AD -->
    <div class="floating-ad" id="floatingAd">
            <iframe src="https://ads-partners.coupang.com/widgets.html?id=866529&template=carousel&trackingCode=AF9023285&subId=&width=300&height=300&tsource="
            width="140" height="140" frameborder="0" scrolling="no" referrerpolicy="unsafe-url" browsingtopics></iframe>
           <!--
      <a href="https://link.coupang.com/a/cuqXGu" target="_blank">
        <img src="/assets/images/your-banner.jpg" alt="광고 배너">
      </a>
      -->
      <p class="ad-disclaimer">
        이 광고창은 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.
      </p>
      <button class="ad-close-btn" onclick="document.getElementById('floatingAd').style.display='none'">✕</button>
    </div><!-- End AD -->
