<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

  <div class="page-container">
    <!-- 1번: Hero 영역 -->
    <header class="hero">
      <img src="/assets/images/hero.jpg" alt="Hero 이미지">
    </header>

    <!-- 2번: Middle 영역 -->
    <main class="middle">
      {{ content }} <!-- index.html 등에서 전달되는 내용 -->
    </main>

    <!-- 3번: Thrid 영역 -->
    <main class="Third">
      <p> THIS IS Third box</p>
    </main>

    <!-- 4번: Footer 영역 -->
    <footer class="footer">
      <p> THIS IS FOOTER</p>
    </footer>
  </div>
</body>
</html>

    
    
  </body>
</html>