

<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

  <div class="container">




    <section class="element-page">
      <h1>{{ page.title }} ({{ page.symbol }})</h1>
      <p>원자번호: {{ page.number }}</p>
      <p>원자량: {{ page.weight }}</p>
      <p>전자배치: {{ page.electron }} </p>
      <div class="content">
        {{ content }}
      </div>
    </section>




    <!-- 4번: Footer 영역 -->
    <footer class="footer">
      <p> THIS IS FOOTER</p>
    </footer>

  </div>
  <script src="{{ '/assets/script.js' | relative_url }}"></script>
</body>
</html>
