<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

  <div class="el_container">
    
    <section class="sub_title">
    <h1>Details of Element</h1>
    </section>

    <section class="element-page1">
      <h1>{{ page.element_name }} ({{ page.symbol }})</h1>
      <p>원자번호: {{ page.number }}</p> 
      <p>{{ page.group }} </p> <!--이거 한글로 추가 그룹 인덱스용이랑 출력용으로 하던가 / 한글로해서 인덱스 출력 같이 하던가 -->
      <p>원자량: {{ page.weight }}</p>
      <p>전자배치: {{ page.electron }} </p>

    </section>
    <section class="element-page2">
      <h1>2번칸</h1>
      <div class="content">
        {{ content }}
      </div>
    </section>
    <section class="element-page3">
      <h1>3번칸</h1>
    </section>

    <!-- 4번: Footer 영역 -->
    <footer class="footer">
      <p> THIS IS FOOTER</p>
    </footer>

  </div>

    <!-- 메뉴 버튼 -->
  <div class="menu-btn" id="menuOpenBtn">
    <i class="fa-solid fa-bars"></i>
  </div>
  
  <!-- 메뉴 오버레이 -->
  <div class="menu-overlay" id="menu">
    <div class="menu-content">
      <a href="https://gaemigaemi.github.io/science">홈</a>
      <a href="#">정보</a>
      <a href="https://gaemigaemi.github.io/">홈홈</a>
    <button id="menuCloseBtn">X</button>
    </div>
  </div>

  <script src="{{ '/assets/script.js' | relative_url }}"></script>
  {% if page.floating_ad %}
  {% include floating-ad.html %}
  {% endif %}
</body>
</html>
